.catalogPage {
    display: flex;
    justify-content: flex-start;
    gap: 64px;
    padding: 48px 64px;
}

.listWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
}

.loadMoreBtn {
    margin-top: 40px;
    padding: 16px 32px;

    background-color: transparent;
    border: 1px solid #E4E7EC;
 
    border-radius: 200px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #101828;

    cursor: pointer;
    transition: all 0.3s ease;
}

.loadMoreBtn:hover {
    border-color: #D84343;
    color: #D84343;
}

.loadMoreBtn:active {
    transform: scale(0.98);
}