.filters {
    margin-top: 24px;
    max-width: 360px;

}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;

}

.grid {
    width: 360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style: none;

}


.item {
    aspect-ratio: 1 / 1;
    border: 1px solid #d0d5dd;
    border-radius: 12px;
    background: #fff;
    width: 112px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
    user-select: none;

    transition: border-color 0.2s ease;
}


.itemActive {
    border-color: #e44848;
}

.icon {
    font-size: 28px;
    color: #101828;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: #101828;
}


.line {
    margin-bottom: 24px;
}

.wrapEquipment {
    margin-bottom: 32px;
}

.wrapType {
    margin-bottom: 40px;
}

.titleFilters {
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}

.filterGroup2 {

    margin-bottom: 40px;
}
.filterLabel {
        --font-family: "Inter", sans-serif;
        color: #475467
}