:root {
  --primary-color: #e44848;
  --primary-hover: #d84343;
  --main-black: #101828;
  --main-grey: #6c717b;
  --bg-light: #f7f7f7;
  --border-color: #dadde1;
  --yellow-star: #ffc531;

  font-family: "Inter", system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-black);
  background-color: #ffffff;
}